*{
    margin:0;
    padding: 0;
    color: #167C80;
    
}
body{
    display: flex;
    background-color:whitesmoke;
    justify-content: space-around;
}
#layout{
    width:1024px;
    min-height: 100vh;
    background-color: white;
    padding: 10px 30px;
    flex:1 0 none;
    
}
.layout-item{
    margin:20px 0px;
}
#letters-you-have-box{
    display: flex;
    justify-content: space-around;
}

.letter{
    font-size: 5.2em;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%)
}
.point{
    width:30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    right: -10px;
    bottom: -10px;
    font-size: 1.5em;
    text-align: center;
    background-color: #E54B4B;
}

.tile-piece {
    position: relative;
    border-radius: 15px;
    background-color: #B7E3E4;
    width: 100px;
    height: 100px;
    margin: 10px;
}

#gameover{
    display: none;
    height: 100px;
    color: #E54B4B;
}
input{
    padding:6px 15px;
}
button {
	-moz-box-shadow:inset 0px 39px 0px -24px rgb(24, 173, 179);
	-webkit-box-shadow:inset 0px 39px 0px -24px rgb(24, 173, 179);
	box-shadow:inset 0px 39px 0px -24px rgb(24, 173, 179);
	background-color:#167C80;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px rgb(15, 91, 94);
}
button:hover {
	background-color:#167C80;
}
button:active {
	position:relative;
	top:1px;
}
#word-history-list{
    list-style-type: circle;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    
}
#word-history-list li{
    width: 100px;
    margin:20px;
    
}
#word-list{
    background-color: #B7E3E4;
    padding: 20px;
    min-height: 40vh;
}